<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maven</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <div>
        <p>Don't have an account?</p>
        <a href="{% url 'registration' %}">Register Now</a>
        <a href="{% url 'password_reset' %}">Forgot Password?</a>
    </div>
</body>
</html>